/* 
====================
table of contents 
====================

1. 
2. 
3. Responsive Design (madia query)
*/
section.contact-us .icon-envelope{
    color: var(--subtitle);
    margin-right: 1rem;
    font-size: 1.8rem;
}
section.contact-us .title{
    font-size: 2.1rem;
    color: var(--title);
    margin-bottom: 1rem;
}
section.contact-us .sub-title{
    color: var(--subtitle);
    margin-bottom: 2rem;
    line-height: 1.65rem;
}




section.contact-us form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

section.contact-us label{
    color: var(--subtitle);
}

section.contact-us form .email,
section.contact-us form .message{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
section.contact-us form input,
section.contact-us form textarea{
    all: unset;
    background-color: rgba(63, 63, 70, 0.15);
    border: 1px solid rgb(63, 63, 70);

    padding:  18px 20px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.1rem;
}

.light section.contact-us form input,
.light section.contact-us form textarea{
    background-color: rgba(255, 255, 255, 0.162);
    border: 1px solid rgba(128, 128, 128, 0.451);
    box-shadow: 1px 1px 1px rgba(73, 73, 75, 0.105);
    color: #232324;
}

section.contact-us form input:focus,
section.contact-us form textarea:focus,
section.contact-us form input:hover,
section.contact-us form textarea:hover{
    border: 1px solid rgb(45, 212, 191);
}
.light section.contact-us form input:focus,
.light section.contact-us form textarea:focus,
.light section.contact-us form input:hover,
.light section.contact-us form textarea:hover{
    border: 1px solid rgb(78, 80, 80);
}

section.contact-us form textarea{
    min-height: 6rem;
}
section.contact-us form .submit{
    background-color: rgba(36, 37, 46, 1);
    width: 40%;
    padding: 0.75rem 0;
    text-align: center;
    font-size: 1.05rem;
    text-transform: capitalize;
    opacity: 0.5;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid rgb(63, 63, 70);
    align-self: flex-end;
    
}
section.contact-us form .submit:hover{
    opacity: 1;
}

.message-succeeded{
    font-size: 16px;
    margin-top: 1.7rem;
}
.form-animation{
    height: 55px;
}
.animation{
    width: 50%;
}
.animation .mail-animation{
    max-width: 100%;
    height: 300px;
    
}
.form-container{
    justify-content: space-between;
}

@media (max-width: 991px) {
    section.contact-us form{
        width: 50% ;
    }
}
@media (max-width: 768px) {
    .animation{
        display: none;
    }
    section.contact-us form{
        width: 100% ;
    }
    .contact-us .title,
    .contact-us .sub-title{
        text-align: center;
    }
}
